<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Authors</title>
        <button class="btn"><i class="fa fa-home" ></i> <a href="/">Home</a></button>
    </head>
    <script>
        const host = "127.0.0.1:8000"; //{{author.host}};
        const userNameLocal = "localserver";
        const passwordLocal = "pwdlocal";
        var sender = {
            'type': 'author',
            'id': '{{friend.get_id_url}}',
            'url': '{{friend.get_profile_url}}',
            'host': '{{friend.host}}',
            'displayName': '{{friend.get_full_name}}',
            'github': '{{friend.github}}',
            'profileImage': '{{friend.profile_image}}',
        };
        var recv = {
            'type': 'author',
            'id': '{{author.get_id_url}}',
            'url': '{{author.get_profile_url}}',
            'host': '{{author.host}}',
            'displayName': '{{author.get_full_name}}',
            'github': '{{author.github}}',
            'profileImage': '{{author.profile_image}}',
            };
        function sendFollow(){
            //var sBtn = document.getElementById("send")
            var sendFollow = new XMLHttpRequest();
            const hostServerURL = sender.host;
            var data = {
                "type": "follow",
                "summary": sender.displayName + " wants to follow " + recv.displayName,
                "actor": sender,
                "object": recv
                };
            sendFollow.open("POST", recv.id+"/inbox", true);
            sendFollow.setRequestHeader("Authorization", "Basic " + btoa(userNameLocal+":"+passwordLocal));
            sendFollow.setRequestHeader("Content-type", "application/json");
            sendFollow.setRequestHeader('X-CSRF-TOKEN', '{{csrfToken}}');
            sendFollow.send(JSON.stringify(data));
            console.log(sendFollow.responseText);
        }

        function deleteFollower(){
            var delFollower = new XMLHttpRequest();
            console.log("recv  ", recv);
            console.log("sender  ", sender);
            const hostServerURL = sender.host;

            delFollower.open("DELETE", recv.id+"/followers/"+"{{friend.id}}", true);
            //sendFollow.setRequestHeader("Content-type", "application/json");
            // TODO: add authorization header
            delFollower.setRequestHeader("Authorization", "Basic " + btoa(userNameLocal+":"+passwordLocal));
            delFollower.setRequestHeader('X-CSRF-TOKEN', '{{csrfToken}}');
            delFollower.send();
            console.log(delFollower.responseText);
        }

    </script>
    <body>
        <h1>List of Authors</h1>
        <div class="authors">
            {% for author in authors %}

            <div class="author">
                <h2> <b> Author: </b> <a href="{% url 'display_author' id=author.id %}"> {{author.get_full_name}} </a></h2>
                {% if author.profile_image != null and author.profile_image != '' %}
                    <img src="{{author.profile_image}}" width="150" height="150"> 
                {% endif %}
                <p> <b> Type: </b> author </p>
                <p> <b> ID: </b> {{author.id}} </p>
                <p> <b> Display Name: </b> {{author.first_name}} {{author.last_name}} </p>
                <p> <b> ULR: </b> {{author.url}} </p>
                <p> <b> Host: </b> {{author.host}} </p>
                <p> <b> Github: </b> {{author.github}} </p>
                <p> <b> Profile Image: </b> {{author.profile_image}} </p>
                <div class="author">
                    <form action="{% url 'author_friend_view' %}" method="POST" class='author_friend_view' id='{{author.id}}' >
                       {% csrf_token %}
                       <input type="hidden" name="user" value={{author.id}}>
                            {% if author.id in f_send %}
                                <button type="submit" class="ui button like-btn{{author.id}}" disabled="disabled" id="wait">
                                   Waiting for response
                                </button>
                                <button type="submit" name="action_flag" value="R" class="ui button like-btn{{author.id}}") id="waitRevoke">
                                    Revoke/Withdraw
                                </button>
                            {% else %}
                                {% if author.id in f_accept %}
                                    {% if author.id in cross_qs %}
                                       <button type="submit" class="ui button like-btn{{author.id}}" disabled="disabled" id="friend">
                                          Friend
                                       </button>
                                    {% else %}
                                       <button type="submit" class="ui button like-btn{{author.id}}" disabled="disabled" id="following">
                                          Following
                                       </button>
                                    {% endif %}
                                    <button type="submit" name="action_flag" value="F" class="ui button like-btn{{author.id}}" id="revoke" onclick="deleteFollower();">
                                         Revoke/Withdraw
                                    </button>
                                {% else %}
                                    <button type="submit" name="action_flag" value="I" class="ui button like-btn{{author.id}}" id="send" onclick="sendFollow();">
                                       Send Follow Request
                                    </button>
                                {% endif %}
                            {% endif %}
                    </form>
                </div>
            </div>

            {% endfor %}
        </div>
    </body>
</html>