<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <title>Authors</title>
        <button class="btn"><i class="fa fa-home" ></i> <a href="/">Home</a></button>

        <style>
            div {
                padding: 30px;
                border-radius: 5px;
                border-bottom-style: groove;
            }
            a:link {color:blue;
                    text-decoration:none;}

            a:visited {color:blue;
                       text-decoration:none;}

            a:hover {color:#48C9B0;}
        </style>
    </head>
    <body>
        <h1>List of Followers</h1>
        <div id="followers"></div>

        <script>
            function update() {
                document.getElementById("followers").innerHTML = "";

                var xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        authors = JSON.parse(xhr.responseText)['items'];

                        if (authors.length === 0){
                          var newTag = document.createElement("div");
                          var my_text = "you have no followers!"
                          newTag.appendChild(my_text);
                          newTag.appendChild(document.createElement("br"));
                          document.getElementById("followers").appendChild(newTag);
                        }
                        else{
                            for (let i in authors) {
                                let array = authors[i].id;
                                console.log(array)
                                let id = array[array.length-1];

                                var newTag = document.createElement("div");

                                var profileLink = document.createElement("a");
                                profileLink.appendChild(document.createTextNode(authors[i].displayName));
                                profileLink.href = "http://127.0.0.1:8000/authors/" + id;
                                newTag.appendChild(profileLink);
                                newTag.appendChild(document.createElement("br"));


                                newTag.appendChild(document.createTextNode("Display Name: " + authors[i].displayName));
                                newTag.appendChild(document.createElement("br"));

                                document.getElementById("followers").appendChild(newTag);
                            }
                        }
                    }
                };

                // xhr.open("GET", "https://projectcmput404sfrodrig.herokuapp.com/service/authors/", true);
                xhr.open("GET", "http://127.0.0.1:8000/authors/follower", true);

                xhr.send();
            }

            window.addEventListener('load', event => {
                update();
            });

            // setInterval(update, 5000);

        </script>

    </body>
</html>