<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Authors</title>
        <button class="btn"><i class="fa fa-home" ></i> <a href="/">Home</a></button>
    </head>
    <body>
        <h1>List of Pending Responses</h1>
        <div class="authors">
            {% for author in authors %}
              {% if author.id in f_qs %}
               <div class="author">
                <h2> <b> Author: </b> <a href="{% url 'display_author' id=author.id %}"> {{author.get_full_name}} </a></h2>
                <p> <b> Type: </b> author </p>
                <p> <b> ID: </b> {{author.id}} </p>
                <p> <b> Display Name: </b> {{author.first_name}} {{author.last_name}} </p>
                <p> <b> ULR: </b> {{author.url}} </p>
                <p> <b> Host: </b> {{author.host}} </p>
                <p> <b> Github: </b> {{author.github}} </p>
                <p> <b> Profile Image: </b> {{author.profile_image}} </p>
                <div class="author">
                    <form action="{% url 'pending_action_view' %}" method="POST" class='pending_action_view' id='{{author.id}}' >
                       {% csrf_token %}
                       <input type="hidden" name="user" value={{author.id}}>
                       <button type="submit" name="accept" value="A")>
                             Accept
                       </button>
                       <button type="submit" name="accept" value="R">
                             Reject
                       </button>
                    </form>
                </div>
            </div>
             {% endif %}
            {% endfor %}
        </div>
    </body>
</html>