<!-- templates/authors/profile.html -->
{% extends 'base.html' %}
{% block head %}
<title>Profile of {{author.get_full_name}}</title>
<style>
    /* temporary quick styles for testing */
    body {
        font-family: Arial;
    }
    .box {
        border: 1px solid grey;
        padding: 10px;
        margin: 5px;
    }

    .profile_image {
        border: 1px solid grey;
        width: 100px;
        height: 100px;
    }

    .align-center {
        text-align: center;
        align-content: center;
    }
</style>
{% endblock %}
{% block content %}
{% if not_found %}
    <div>Profile Not Found</div>
{% else %}
    <script>
        //const hostServerURL = "https://cmput404-project-team9.herokuapp.com/";
        function sendFollowRequest(){
            let sender = {
                type: 'author',
                id: '{{friend.get_id_url}}',
                url: '{{friend.get_profile_url}}',
                host: '{{friend.host}}',
                displayName: '{{friend.displayName}}',
                github: '{{friend.github}}',
                profileImage: '{{friend.profile_image}}',
            };
            let recv = {
                type: 'author',
                id: '{{author.get_id_url}}',
                url: '{{author.get_profile_url}}',
                host: '{{author.host}}',
                displayName: '{{author.displayName}}',
                github: '{{author.github}}',
                profileImage: '{{author.profile_image}}',
            };
            var sendFollow = new XMLHttpRequest();
            console.log("recv  ", recv);
            console.log("sender  ", sender);
            const hostServerURL = sender.host;
            var data = {
                "type": "follow",
                "summary": sender.id + " wants to follow " + recv.id,
                "actor": sender,
                "object": recv
                };
            //var btn = document.getElementById("send")
            //btn.click(function(){
            // });
            sendFollow.open("POST", recv.id+"/inbox", true);
            sendFollow.setRequestHeader("Content-type", "application/json");
            sendFollow.setRequestHeader('X-CSRF-TOKEN', '{{csrfToken}}');
            sendFollow.send(JSON.stringify(data));
            console.log(sendFollow.responseText)


        }
    </script>
    <div class="box align-center">
        <p>
            <img class="profile_image" src="{% if host_is_local %}{{author.profile_image}}{% else %}{{author.profileImage}}{% endif %}">
        </p>
        <h1>{% if host_is_local %}{{author.get_full_name}}{% else %}{{author.displayName}}{% endif %}</h1>
        <p><b>GitHub:</b> <a href="{{author.github}}">{{author.github}}</a></p>
    </div>
    <div class="box">
        {% if is_my_profile %}
            <p><a href="{% url 'display_like' %}">See My Liked Posts</a></p>
            <p><a href="{% url 'author_list_view' %}">Send New Follow Requests</a></p>
            <p><a href="{% url 'pending_action_list_view' %}">Pending Requests</a></p>
            <p><a href="{% url 'accounts:manage_profile' %}">Edit my profile</a></p>
            <p><a href="{% url 'friend_view' %}">My Friends</a></p>
            <p><a href="{% url 'follower_view' %}">My Followers</a></p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            {% if friend_status == '1' %}
            TODO: FIX this
            {% else %}
            notok
            {% endif %}
            <!-- <p><a href="#">Send A Request</a> (Not implemented yet)</p> -->
            <div class="author">
                    <form action="{% url 'author_profile_view' %}" method="POST" class='author_friend_view' id='{{author.id}}' >
                        {% csrf_token %}
                        <input type="hidden" name="user" value={{author.id}}>
                            {% if author.id in f_send %}
                                <button type="submit" class="ui button like-btn{{author.id}}" disabled="disabled">
                                    Waiting for response
                                </button>
                                <button type="submit" name="action_flag" value="R" class="ui button like-btn{{author.id}}")>
                                    Revoke/Withdraw
                                </button>
                            {% else %}
                                {% if author.id in f_accept %}
                                    {% if author.id in cross_qs %}
                                        <button type="submit" class="ui button like-btn{{author.id}}" disabled="disabled">
                                            Friend
                                        </button>
                                    {% else %}
                                        <button type="submit" class="ui button like-btn{{author.id}}" disabled="disabled">
                                            Following
                                        </button>
                                    {% endif %}
                                    <button type="submit" name="action_flag" value="F" class="ui button like-btn{{author.id}}")>
                                            Revoke/Withdraw
                                    </button>
                                {% else %}
                                    <button type="submit" name="action_flag" value="I" class="ui button like-btn" id="send" onclick="sendFollowRequest()">
                                        Send Follow Request
                                    </button>
                                {% endif %}
                            {% endif %}
                    </form>
                </div>
        {% endif %}
    </div>
    <h1>Posts:</h1>
    <div class="box">
        <button>Load posts</button> TODO: implement this fetch('{{author.url}}/posts/').then(...)
    </div>
{% endif %}
{% endblock %}