{% block title %}Create Private Post {% endblock %}
{% block content %}
<h2>Create a Private Post</h2>
<form method="post">
    <table>
        {{ form }}
    </table>
    <label for="recipient">Send To:</label>
    <select id="recipient" name="recipient">
        {% for author in authors %}
        <option value="{{ author.id }}">{{ author.get_full_name }}</option>
        {%endfor%}
    </select>
    {% csrf_token %}
    <button type="create_post">Send private post</button>
</form>
{% endblock %}