<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <title>Posts</title>
        <button class="btn"><i class="fa fa-home" ></i> <a href="/">Home</a></button>
    </head>
    <body>
        <h1>List of own Posts</h1>
        <div class="posts">
            {% for post in posts %}

            <div class="post">
                <p> <b> Published: </b> {{post.published}} </p>
                <p> <b> Author: </b> {{post.author}} </p>
                {% if post.image != null and post.image != '' %}
                <img src="{{post.image}}"> 
                {% endif %}
                <p> <b> Title: </b> {{post.title}} </p>
                <p> <b> Description: </b> {{post.description}} </p>
                <h2> <a href="{% url 'edit_post' id=post.id %}"> Edit Post </a></h2>
                <h2> <a href="{% url 'delete_post' id=post.id %}"> Delete Post </a></h2>
                <p> <b> ////////////////////////////////////////////// </b> </p>
            </div>

            {% endfor %}
        </div>
    </body>
</html>