<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Posts</title>
    </head>
    <body>
        <h1>List of Private Posts</h1>
        <div class="posts">
            {% for post in posts %}
            <div class="post">
                <p> <b> Published: </b> {{post.published}} </p>
                <p> <b> Author: </b> {{post.author}} </p>
                {% if post.share_from %}
                <p>Shared from {{post.share_from}}</p>
                {% endif %}
                {% if post.image != null and post.image != '' %}
                    <img src="{{post.image}}"> 
                {% endif %}
                <p> <b> Title: </b> {{post.title}} </p>
                <p> <b> Description: </b> {{post.description}} </p>
                <div class="author">
                    <form action="{% url 'like_post1' %}" method="POST" class='PostLike' id='{{post.id}}'>
                       {% csrf_token %}
                       <input type="hidden" name="post_id" value={{post.id}}>
                       <button type="submit" class="ui button like-btn{{post.id}}">
                        {% if author in post.liked.all %}
                               UnLike
                        {% else %}
                               Like
                        {% endif %}
                       </button>
                    </form>
                    <form action="{% url 'share_post' id=post.id %}" method="POST" class="SharePost">
                        <button> Share with friends </button>
                    </form>
                </div>
                <p> <b> ////////////////////////////////////////////// </b> </p>
            </div>

            {% endfor %}
        </div>
    </body>
</html>